<div id="map"></div>
<a rel="ar" href="http://urbe.patrickhenry.us/models/usdz/bike.usdz">
    <img src="https://randomuser.me/api/portraits/men/21.jpg" class="objrender waves-effect">
        </a>
<a rel="ar" href="https://resources.20-twenty.online/files/@{{ x.assetname }}">
    <img src="https://resources.20-twenty.online/files/@{{ x.render}}" class="objrender waves-effect">
        </a>
<a rel="ar" href="https://resources.20-twenty.online/files/@{{ x.assetname }}">
    <img src="https://resources.20-twenty.online/files/@{{ x.render}}" class="objrender waves-effect">
        </a>
<a rel="ar" href="https://resources.20-twenty.online/files/@{{ x.assetname }}">
    <img src="https://resources.20-twenty.online/files/@{{ x.render}}" class="objrender waves-effect">
        </a>
