<main class="mdl-layout__content" style="margin:0 auto; float:left; width:100%; margin-top:10%;">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone" style="margin: 0 auto; width: 45%;">
        <h3>GDPR Privacy</h3>
            <p>We do need you to agree to the below so we can work with you, you of course can request your data to be deleted. We understand your rights and want you to feel comftable working with us, all the time. </p>
                <div class="col-md-12">
                    <label  for="TOS">
                        I have read and agreed to the Terms of Service and 
                        <a href ="https://20-twenty.online/privacy">Privacy Policy TOS</a></label>
                        <input id="TOS" data-on="Yes"  checked data-off="No" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" class="form-control" name="TOS" value="1" required>

                        <label  for="datastore">I agree for my data to be stored and used for<br> the sole purpose of working with urbe-CE</label>
                        <input id="datastore" data-on="Yes" checked data-off="No" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" class="form-control" name="datastore" value="1"  required>

                        <label  for="emailupdates">I agree for my data to be used for email updates on product and services only.</a></label>
                        <input id="emailupdates" data-on="Yes" checked data-off="No" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" class="form-control" name="emailupdats"  value="1" required style="float:right;">
                    </div>
                <button onclick="gdpr()" class="waves-effect waves-teal btn-flat">Agree</button>
                
            </div>
            </div>

             <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-phone">
  <a class="waves-effect waves-teal btn-flat" href="#!settings">back</a>
    </div>
        </div>
    </main>

    
